.work-title {
    margin-left: 16%;
    margin-right: 5%;
    margin-top: 0px;
    font-size: 64px;}

.workout-table {
    margin-left: 5%;
    margin-right: 5%;
}

.graybox {
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;

}

.purplebox {
    background-color: rgb(130, 84, 130);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 0px;
    color: white;
}

.purplebox p {
    margin: 0;
    font-size: 35px;
}

.purplebox button {
    margin-left: 10px;
    padding: 12px 50px;
    font-size: 14px;
    color: white;
    background-color: rebeccapurple;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.purplebox button:hover {
    background-color: darkorchid;
}

.purplebox button:first-child {
    background-color: mediumorchid;
}

.purplebox button:first-child:hover {
    background-color: darkmagenta;
}

.buttonbox {
    display: flex;
    justify-content: flex-end;
}

.createbtn {
    margin-left: 10px;
    padding: 16px 50px;
    margin-right: 5%;
    font-size: 14px;
    color: white;
    background-color: mediumorchid;
    ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.createbtn:hover {
    background-color: darkmagenta;
}
  
  .welcome-section {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
  }
  
  .logout-button {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 14px !important;
    height: 40px;
    background-color: rgb(123, 88, 157) !important;
    border-radius: 4px !important;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: darkorchid;
  }
  
  h2 {
    margin: 0;
  }