.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
  background-color: rgb(130, 84, 130);
  overflow: hidden;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.nav a {
  text-decoration: none;
}

.nav-header {
  display: inline-flex;
  align-items: center;
}

.nav-title {
  font-size: 34px;
  font-weight: 700;
  color: #f2f2f2;
  margin: 0px;
  margin-top: 20px;
}

.nav-logo {
  padding: 8px;
  width: 50px;
  height: 50px;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: rgb(130, 84, 130);
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
  font-size: 24px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: darkmagenta;

  padding: 16px 10px;

}